<?xml version="1.0" encoding="utf-8"?>
<!--
  Because of the use of ILMerge in the post build events, the container assemblies for a number of types in this configuration
  file will change. These references will be updated by ctt.exe as a post build event.
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Heartbeat" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Heartbeat" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
		<sectionGroup name="heartbeat">
			<section name="settings" type="HeartBeat.Logic.Configuration.HeartBeatSettings, HeartBeat" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
		</sectionGroup>
	</configSections>
  <loggingConfiguration name="Default Logging Configuration">
    <listeners>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Heartbeat"
				 name="AppLog" xdt:Transform="SetAttributes(listenerDataType)" xdt:Locator="Match(name)" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Heartbeat" name="Text Formatter" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Heartbeat" name="Logging Enabled Filter" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Heartbeat" name="Priority Filter" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)" />
    </logFilters>
  </loggingConfiguration>
</configuration>