<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="heartbeat">
			<section name="settings" type="HeartBeat.Logic.Configuration.HeartBeatSettings, HeartBeat.Logic" allowLocation="true" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="QueryConnection" connectionString="Data Source=(local);Integrated Security=True;MultipleActiveResultSets=True;Initial Catalog=master;Application Name=HeartBeat Tests"/>
		<add name="QueryConnection_B" connectionString="Data Source=(local);Integrated Security=True;MultipleActiveResultSets=True;Initial Catalog=master;Application Name=HeartBeat Tests"/>
	</connectionStrings>

	<heartbeat>
		<settings thisServer="TestServerName" checkInterval="300000" to="user@example.com" subjectFormat="[Heartbeat] [{0}] Notification Id:{1}" renotifyAfter="3600000">
			<servers>
				<server friendlyName="The Domain Controller" serverName="TESTSERVER1" />
				<server friendlyName="SharePoint Server" serverName="TESTSERVER2"  />
				<server friendlyName="Unit Test Server" serverName="TESTSERVER3" pingTimeout="3000"/>
			</servers>
			<services>
				<service friendlyName="Local IIS Webserver" serverName="." serviceName="W3SVC" />
			</services>
			<queries>
				<query friendlyName="Success Sproc" connectionStringKey="QueryConnection" storedProc="Sandbox.dbo.HeartbeatSuccessTest" />
				<query friendlyName="Failure Sproc" connectionStringKey="QueryConnection" storedProc="Sandbox.dbo.HeartbeatFailureTest"  />
			</queries>
			<uris>
				<uri friendlyName="TestPage1" uri="http://localhost/page200.html" />
				<uri friendlyName="MissingPage" uri="http://localhost/page404.aspx" status="NotFound" />
				<uri friendlyName="Details Page" uri="http://localhost/page200.html" match="t..t" />
			</uris>
			<drives>
				<drive friendlyName="Local C: Drive" serverName="." driveLetter="C" threshold="0.5" />
				<drive friendlyName="Local D: Drive" serverName="." driveLetter="C" threshold="0.5" />
			</drives>
      <powershellScripts>
        <powershellScript friendlyName="Successful Powershell Script" path="C:\temp\Powershell\ShouldSucceed.ps1" params=""/>
        <powershellScript friendlyName="Failing Powershell Script" path="C:\temp\Powershell\ShouldFail.ps1" params=""/>
      </powershellScripts>
      <scheduledTasks>
        <scheduledTask friendlyName="GoogleUpdateTaskMachineUA" taskName="GoogleUpdateTaskMachineUA" serverName="." />
      </scheduledTasks>
		</settings>
	</heartbeat>
</configuration>